<div class="well">
  <h3>Invite Officer</h3>

  <form action="<%= user_invitation_path %>" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <input type="hidden" name="user[officer]" value="true">
    <div class="form-group">
      <input type="text" name="user[email]" placeholder="Email" class="form-control">
    </div>
    <input type="submit" value="Invite" class="btn btn-primary">
  </form>
</div>
