<div class='col-md-8'>
	<h1>Captains</h1>

	<ul>
	  <% @schools.each do |school| %>
	    <li>
	      <%= school.name %>
	      <ul>
	      <% school.captains.each do |captain| %>
	        <li><%= link_to captain.name, captain %></li>
	      <% end %>
	      </ul>
	    </li>
	  <% end %>
	</ul>

  <% if current_user.admin %>
    <%= render 'captains/form', new_athlete: false %>
  <% end %>
</div>
