<div id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <h6>&copy; 2014 CSSCS. All Rights Reserved. Site by <a href="http://www.dbz.rocks">@dbz</a> and <a href="http://cjavilla.com">@w1zeman1p</a></h6>
      </div>
    </div>
  </div>
</div>
